menu {
    font-family: 'Roboto', sans-serif;

    .genMenu {
        ul {
            display: flex;

            li {
                margin: 0 20px;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }

    .gamburgerMenu {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    menu {
        .genMenu {
            display: none;
        }

        .gamburgerMenu {
            display: block;
            width: 100%;
            margin-left: 2rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    menu {
        .genMenu {
            display: none;
        }

        .gamburgerMenu {
            display: block;
            width: 100%;
            margin-left: 2rem;
        }
    }
}

@media (max-width: 1000px) {
    menu {
        .genMenu {
            ul {
                li {
                    margin: 0 15px;
                }

            }
        }
    }
}