.burger-menu,
.burger-menu.open {
    padding: 10px;
    border-radius: 25px;
}

.burger-menu .bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #859BA6;
    margin: 10px 0;
    transition: 0.4s;
}

.burger-menu.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger-menu.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-4px, -4px);
}

/* -------------------- */
.menu {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.menu ul {}

.menu li {
    margin: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

}

.menu li:hover {
    color: #ff0000;
}

.popup-overlay {
    margin-top: 90px;
    width: 100%;

}

.menu li:last-child {
    padding-top: 20px;
}