.container {
    z-index: 999999;
    position: absolute;
    top: 120px;
    width: 482px;
    height: 476px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    .btnClose {
        margin: 25px 25px 25px 432px;
        // float: right;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        .bar1 {
            width: 30px;
            height: 3px;
            background-color: #859BA6;
            margin: 5px;
            transition: 0.4s;
            -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
        }

        .bar2 {
            width: 30px;
            height: 3px;
            background-color: #859BA6;
            margin: 5px;
            transition: 0.4s;
            -webkit-transform: rotate(45deg) translate(-5px, -5px);
            transform: rotate(45deg) translate(-4px, -4px);
        }
    }

    .wrap {
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;

            h1 {
                font-size: 35px;
                font-weight: 500;
            }

            p {
                font-size: 16px;
                font-weight: 400;
            }
        }


    }
}

.notActive {
    display: none;
}

.action {
    display: block;
}

.notSend {
    display: none;
}

.send {
    display: flex;
}