header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    margin: 0 40px;
    height: 90px;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        .number {
            font-size: 16px;
            font-weight: 600;
        }
    }
}