.container {
    width: 1440px;

    .wraper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px;
        height: 90px;

        .wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .number {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}