.container {
    width: 1440px;

    .wraper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px;
        height: 90px;

        .wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .number {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

// @media screen and (min-width:1024px) and (max-width:1440px) {
//     .container {
//         width: 1440px;

//         .wraper {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             margin: 0 20px;
//             height: 90px;

//             .wrap {
//                 width: 100%;
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;

//                 .number {
//                     font-size: 16px;
//                     font-weight: 600;
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width:320px) and (max-width:500px) {
    .container {
        width: 100%;

        .wraper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 20px;
            height: 90px;

            // .logo {
    //     width: 91px;
    //     height: 18px;
    // }

            .wrap {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .number {
                    display: none;
                    font-size: 16px;
                    font-weight: 600;
                }

                .lang {
                    display: none;
                }
            }
        }
    }
}